aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
altair==4.2.2
attrs==24.2.0
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
cfgv==3.4.0
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.3
datasets==2.4.0
dill==0.3.5.1
distlib==0.3.9
embeddings==0.0.8
entrypoints==0.4
filelock==3.16.1
frozenlist==1.4.1
fsspec==2024.9.0
gitdb==4.0.11
GitPython==3.1.43
huggingface-hub==0.26.0
hypothesis==6.54.0
identify==2.6.1
idna==3.10
importlib_metadata==8.5.0
iniconfig==2.0.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
llvmlite==0.43.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
-e git+https://github.com/Cornell-Tech-ML/mod2-saliktehami.git@eac05fad99fabe99beb464982f9585d575a961a1#egg=minitorch
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.13
networkx==3.3
nodeenv==1.9.1
numba==0.60.0
numpy==2.0.0
packaging==24.1
pandas==2.2.3
pillow==11.0.0
platformdirs==4.3.6
plotly==4.14.3
pluggy==1.5.0
pre-commit==2.20.0
propcache==0.2.0
protobuf==3.20.3
pyarrow==17.0.0
pydeck==0.9.1
pydot==1.4.1
Pygments==2.18.0
Pympler==1.1
pyparsing==3.2.0
pytest==8.3.2
pytest-env==1.1.4
pytest-runner==5.2
python-dateutil==2.9.0.post0
python-mnist==0.7
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
requests==2.32.3
responses==0.18.0
retrying==1.3.4
rich==13.9.2
rpds-py==0.20.0
semver==3.0.2
six==1.16.0
smmap==5.0.1
sortedcontainers==2.4.0
streamlit==1.12.0
streamlit-ace==0.1.1
sympy==1.13.3
toml==0.10.2
toolz==1.0.0
torch==2.2.2
tornado==6.4.1
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==2.2.3
validators==0.34.0
virtualenv==20.27.0
watchdog==1.0.2
xxhash==3.5.0
yarl==1.15.5
zipp==3.20.2
